<section class="container container-imagenes">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <!-- <h1>About2</h1> -->
        </div>
        <div class="col-sm-12 col-md-4" style="margin-bottom: 20px;" data-link=".container-imagenes">
            <a class="scroll" href="#texto1">
            <img src="./web-dist/images/diapo-01.jpg" height="100%" width="100%" >
            </a>
        </div>
        <div class="col-sm-12 col-md-4" style="margin-bottom: 20px;" ">
          <a class="scroll" href="#texto2">
                <img src="./web-dist/images/diapo-02.jpg" height="100%" width="100%">
                </a>

        </div>
        <div class="col-sm-12 col-md-4" style="margin-bottom: 20px;"">
          <a class="scroll" href="#texto3">
            <img src="./web-dist/images/diapo-03.jpg" height="100%" width="100%">
            </a>
        </div>
        <!-- <div class="col-sm-12 col-md-4" style="height: 400px; border: 1px solid black;"> -->
        <div class="col-sm-12 col-md-4" style="margin-bottom: 20px;"">
          <a class="scroll" href="#texto4">
            <img src="./web-dist/images/diapo-04.jpg" height="100%" width="100%">
            </a>
        </div>
        <div class="col-sm-12 col-md-4" style="margin-bottom: 20px;"">
          <a class="scroll" href="#texto5">
            <img src="./web-dist/images/diapo-05.jpg" height="100%" width="100%">
            </a>
        </div>
        <div class="col-sm-12 col-md-4" style="margin-bottom: 20px;"">
          <a class="scroll" href="#texto6">
            <img src="./web-dist/images/diapo-06.jpg" height="100%" width="100%">
            </a>
        </div>

    </div>
</section>
